// To use sass use : yarn add sass-loader
// yarn add sass-loader
body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  /* padding and margin won't throw off the original dimensions of components*/
  box-sizing: border-box;
}
